* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-color: #eee;
}

section {
  background-image: url("../assets/image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
  width: 450px;
}
