/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section > p:first-child {
  font-size: 40px;
  color: red;
}

section > p:nth-child(2) {
  font-size: 1cm;
  color: blue;
}

section > p:nth-child(3) {
  font-size: 20mm;
  color: green;
}

section > p:last-child {
  font-size: 0.5in;
  color: purple;
}
